* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(242, 248, 251);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.posts-search {
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 3px;
  outline: 0;
  display: block;
  border: 1px solid rgb(42, 48, 57, 0.2);
 
}
.page-title {

  font-size: 2em;
  color: rgb(42, 48, 57);
  line-height: 1.1;
  margin-bottom: 2rem;
  display: inline-block;
  letter-spacing: 0.1115em;
  font-weight: 800;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

.posts {
  display: grid;
  row-gap: 30px;
}

.post-card-link-wrapper {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  display: block;
}

.post-card-link-wrapper:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 5px;
}

.post-card {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.post-card-category {
  display: block;
  color:red;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.12em;
  margin-bottom: 10px;
}

.post-card-title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.008em;
  margin: 0px;
  padding: 0px;
  color: rgb(11, 106, 230);
  display: block;
  font-size: 15px;
  padding-bottom: 20px;
}

.post-card-footnote {
  line-height: 1.6;
  font-weight: 400;
  color: rgb(42, 48, 57);
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: auto;
  max-height: 1.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-card-footnote span {
  color: rgb(219, 227, 231);
  font-weight: 400;
  line-height: 1.6;
}

.post-card p {

font-size: medium;
font-weight: 600;
font-style: bold;
}

.state-message {
  color: rgb(42, 48, 57);
  font-weight: 600;
}
 .posts .how-section1{
    margin-top:-15%;
    padding: 5%;
}
.how-section1 .heading{
   
    color: red;;
    font-size: 20px;
}
.how-section1 .subheading{
    color: green;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

.summy-span{


  font-size: medium;
  font-weight: 700;

}
.single-welcome-hero-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 0 30px;
}
.search-box input[type="text"]{
  display: flex;
  font-size: 14px;
  color: #859098;
  text-transform: capitalize;
  font-weight: 500;
}
.welcome-hero {
  position: relative;
  background-position:center;
  background-size:cover;
  text-align: center;
  height:800px;
  z-index: 1;
}
.banner-img{

width: 100%;
max-height: 400px;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}


